<html ng-app="dragAndDrop">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>


  <style>

    * {
      font-family: Arial;
    }

    section {
      border: 1px solid gray;
      border-radius: 5px;
    }

    li div {
      display: table-cell;
      vertical-align: top;
    }

  </style>


  <title></title>
</head>

<body>

<div ng-controller="SampleController">
  <section>
    <header>Drag section</header>
    <ul>
      <li ng-repeat="item in itemsDrag" drag drop-callback="endDrag($index)" drag-data="item">

        <div>
          <img src="{{item.url}}"/>
        </div>
        <div>
          <strong>{{item.title}}</strong>:<span>{{item.description}}</span>
        </div>
      </li>
    </ul>
  </section>


  <section drop drop-callback="endDrop">
    <header>Drop section</header>
    <ul>
      <li ng-repeat="item in itemsDrop">
        <div>
          <img src="{{item.url}}"/>
        </div>
        <div>
          <strong>{{item.title}}</strong>:<span>{{item.description}}</span>
        </div>
      </li>
    </ul>
  </section>
</div>


<div ng-controller="DragAndDropController">
  <div ng-repeat='(key, value) in items' ng-controller="DragAndDropItemController" ng-init="init(value.data)"
       style="position:absolute;visibility: hidden">
    <div style="width: 100%">
      <img src="{{data.url}}"/>
      <div style="position: absolute;top:0px;left: 0px;background: rgba(255,255,255,0.8);width: 100%">
        {{data.title}}
      </div>
    </div>
  </div>
</div>


<script src="../bower_components/angular/angular.js"></script>
<script src="../src/draganddrop.js" type="application/javascript"></script>


</body>

</html>